.qualification-options-container
{
    width: 90%;
    border-bottom: 1px solid black;
    padding-bottom: 1%;
    margin: 5%
}

.qualification-container
{
    display: grid;
    grid-template-columns: 4fr 1fr;
    font-size: 8pt;
}

.container-left
{
    text-align: left;
}

.container-right
{
    text-align: right;
}

.container-vertical
{
    display: flex;
    flex-direction: column;
}

.qualification-title, .qualification-date
{
    font-size: 14pt;
}

.qualification-edit-button-container
{
    display: grid;
    justify-content: center;
    align-items: center;
}

.qualification-edit-container
{
    display: grid;
    grid-template-rows: 4fr 1fr;
    font-size: 8pt;
}

.qualification-edit-form
{
    display: grid;

}

.qualification-submit-button
{
    width: fit-content;
    justify-self: right;
    margin:8px;
    margin-right: 10%;
    border: none;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(128, 188, 236);
}

.qualification-delete-button
{
    width: fit-content;
    justify-self: right;
    margin:8px;
    margin-right: 10%;
    border: none;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(236, 128, 128);
}

.qualification-submit-button:hover {
    background-color: rgb(83, 154, 212);

}


.qualification-delete-button:hover {
    background-color: rgb(212, 83, 83);

}

.section-header
{
    margin-bottom: 3mm;
}

.hide{
    display: none;
}