.qualification-options-container
{
    width: 90%;
    border-bottom: 1px solid black;
    padding-bottom: 1%;
    margin: 5%
}

.qualification-container
{
    display: grid;
    grid-template-columns: 4fr 1fr;
    font-size: 8pt;
}

.container-left
{
    text-align: left;
}

.container-right
{
    text-align: right;
}

.container-vertical
{
    display: flex;
    flex-direction: column;
}

.qualification-title, .qualification-date
{
    font-size: 14pt;
}

.qualification-edit-button-container
{
    display: grid;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}