:root{
  background-color: aliceblue;
}

#root {
  width:inherit;
  height:inherit;
  display: grid;
  justify-items: center;
  display: grid;
  grid-template-rows: 2fr 14fr 2fr;
  min-width: 400px;
}

#cv-display{
  background-color: white;
  aspect-ratio: 1 / 1.4142;
  height:100%;
  min-width: 21cm;
  width: 21cm;
}

#page-actions{
  display: grid;
  padding: 5mm;
}

.page-action-button
{
  height: fit-content;
  width: fit-content;
  font-size: xx-large;
  background-color: white;
  border: 2px solid black;
  padding: 16px;
  border-radius: 16px;
}

.page-action-button:hover
{
  background-color: rgb(221, 221, 221);
}

@cv-display{
  size:21cm 29.7cm;
  margin: 30mm 45mm 30mm 45mm;
}

@media print {
  body{
    width:21cm;
    height: 29.7cm;
    margin: 30mm 45mm 30mm 45mm;
  }
}